openapi: '3.0.0'
info:
  version: 1.0.0
  title: Nicelydone API
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /screens:
    get:
      summary: List all screens
      operationId: listScreens
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of screens
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Screens'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create screen
      operationId: createScreen
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /screens/{screenId}:
    get:
      summary: Get specific screen
      operationId: showScreenById
      parameters:
        - name: screenId
          in: path
          required: true
          description: The id of the screen to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Screens'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flows:
    get:
      summary: List all flows
      operationId: listFlows
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of flows
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Screen:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        category:
          type: string
    Screens:
      type: array
      items:
        $ref: '#/components/schemas/Screen'
    Flow:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        steps:
          type: integer
          format: int32
    Flows:
      type: array
      items:
        $ref: '#/components/schemas/Flow'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string